/*
* This configuration file is the default one used by the pipeline
*/


process.container = 'ghcr.io/mc2-center/nf-histoqc:latest'

docker{
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}


profiles{
    test { includeConfig 'conf/test.config'}
    sage { includeConfig 'conf/sage.config'}
    tower{
        process {
            cpus = {2 * task.attempt}
            memory = {10.GB * task.attempt}
            maxRetries = 3
            errorStrategy = 'retry'
        }
    }
    local{
        process {
            cpus = 2
            memory = 4.GB
        }
    }
}
