/*
* This configuration file is the default one used by the pipeline
*/

docker{
    enabled = true
}


profiles{

    test { includeConfig 'conf/test.config'}
    sage { includeConfig 'conf/sage.config'}
    mc2 { includeConfig 'conf/mc2.config'}
    dynamic { includeConfig 'conf/dynamic.config'}

    
    local{
        process {
            cpus = 2
            memory = 4.GB
        }
    }
}
