docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

profiles{
    tower{
        process {
            cpus = {4 * task.attempt}
            memory = {16.GB * task.attempt}
            maxRetries = 3
            errorStrategy = 'retry'
        }
    }
    local{
        process {
            cpus = 2
            memory = 8.GB
        }
    }
}
